<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="backofficev2.Properties.Settings.DominoBdConnectionStr"
            connectionString="Data Source=den1.mssql1.gear.host;Persist Security Info=True;User ID=dominoeng3;Password=Sg68Vox_O0a?"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>